packages: [
  "atom-beautify"
  "atom-linter-phpstan"
  "busy-signal"
  "change-case"
  "docblockr"
  "editorconfig"
  "file-icons"
  "highlight-selected"
  "indent-guide-improved"
  "intentions"
  "language-blade"
  "language-dotenv"
  "linter"
  "linter-eslint"
  "linter-php"
  "linter-phpcs"
  "linter-phpmd"
  "linter-ui-default"
  "package-sync"
  "prettier-atom"
  "project-manager"
  "sort-lines"
  "toggle"
  "wakatime"
]
