'.source.php':
    'Declare strict types':
        'prefix': 'strict'
        'body': 'declare(strict_types=${1:1});$0\n\n'
    'Test without exception handling':
        'prefix': 'withoutExceptionHandling'
        'body': '$this->withoutExceptionHandling();$0\n'
    'match …':
        'prefix': 'match'
        'body': """
                match (variable) {
                    'value' => 'foo',
                    default => null,
                };
                """
